/* Main Stylesheet */
@import url('base.css');
@import url('layout.css');
@import url('components.css');

/* Pages */
@import url('pages/login.css');
@import url('pages/dashboard.css');
@import url('pages/movements.css');
@import url('pages/orders.css');
@import url('pages/reports.css');
@import url('pages/registrations.css');
@import url('pages/admin.css');
